* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  color: #ffeee2;
  font-size: 14px;
  font-weight: 500;
}

#waybar {
  background: transparent;
}

#clock,
#custom-waymedia,
#custom-waymedia-buttons,
#battery,
#tray,
#cpu,
#language,
#network,
#pulseaudio,
#bluetooth {
  background-color: #0e0600;
  padding: 8px 16px 8px 16px;
  border-radius: 48px;
}

#battery {
  color: #b1e380;
  border: 2px solid #b1e380;
}
#battery.ok {
  color: #ffe072;
  border: 2px solid #ffe072;
}
#battery.warning, #bluetooth {
  color: #ffb26c;
  border: 2px solid #ffb26c;
}
#battery.critical,
#language,
#custom-waymedia-buttons {
  color: #ff8c7c;
  border: 2px solid #ff8c7c;
}
#cpu {
  color: #a5ceff;
  border: 2px solid #a5ceff;
}
#network {
  color: #ffe072;
  border: 2px solid #ffe072;
}
#pulseaudio {
  color: #ffaaf5;
  border: 2px solid #ffaaf5;
}

#custom-waymedia{
  border: 2px solid #a5ceff;
}

#custom-waymedia-buttons{
  border: 2px solid #ff8c7c;
}

#tray {
  border: 2px solid #FFB26C;
}

#clock {
  border: 2px solid #ffeee2;
}
