* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  color: #ffeee2;
  font-weight: 600;
}

#waybar {
  background: #0e0600;
  opacity: 0.9;
  border-radius: 8px;
  border: 2px solid #1B0B00;
}

#clock,
#custom-waymedia,
#custom-waymedia-buttons,
#battery,
#tray,
#cpu,
#language,
#network,
#pulseaudio,
#bluetooth {
  margin: 12px 6px 12px 6px;
  border-radius: 99px;
}

#battery {
  color: #b1e380;
}
#battery.ok {
  color: #ffe072;
}
#battery.warning, #bluetooth {
  color: #ffb26c;
}
#battery.critical,
#language{
  color: #ff8c7c;
}
#cpu{
  color: #a5ceff;
}
#network {
  color: #ffe072;
}
#pulseaudio {
  color: #ffaaf5;
}

#clock{
  margin-top: 16px;
  margin-left: 8px;
}
#custom-waymedia{
 color: #ffe072;
}

#tray{
  margin-right: 8px;
}